<!--Spin de Cargando-->
<h2 class="mt-2 text-center"> Productos </h2>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong> Cargando </strong>
            <br>
            <i class="fa fa-sync fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div *ngIf="!cargando" class="row mt-3"> 
        <div class="col-4 mt-2" *ngFor= "let product of products">
        <div class="card" style="width: 18rem;">
        <p *ngIf="product.promocion" class="card-text text-success text-right">PROMOCIÓN</p>
        <p *ngIf="product.oferta" class="card-text text-danger text-left">{{product.oferta.descuento}} %</p>
          <img [src]="product.i" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-center">{{product.nombre}}</h5>
                <p class="card-text text-center">{{product.p | euro}}</p>
            </div>
            <button (click)="verDetalle(product._id)" class="btn btn-success text-center">Ver detalle</button>
        </div>
</div>

