<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong> Cargando </strong>
            <br>
            <i class="fa fa-sync fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<div *ngIf="!cargando" class="row">
    <div class="col-4 mt-4">
        <h5 clas='text-left mt-4'>Stock: {{product.cantidad}}</h5>
        <img [src]="product.i" class="card-img-top mt-2">
    </div>
    <div class="col-5 mt-4">
        <h5 *ngIf="product.promocion" class="text-success text-right">PROMOCIÓN</h5>
        <h3 class="text-center mt-4">{{product.nombre}}</h3>
        <h4 class="text-right mt-2">{{product.p}} €</h4>
        <h5 *ngIf="product.oferta" class="text-danger text-right mt-2">Descuento: {{product.oferta.descuento}} %</h5>
        <input  [(ngModel)]="cantidad" type="number" class="mt-5">
        <button (click)="comprar()">Comprar</button>
    </div>
</div>
