

  <div [ngClass]="this.sytleService.getMostrar()? '' : 'toggled'" class="d-flex" id="wrapper">

    <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-light text-center">  {{nombre}} </div>
      <div class="sidebar-heading text-light text-center"> <img  [src]="img" alt="" class="img">  </div>
      <div class="sidebar-heading text-light text-center"> Todas las secciones  </div>
      <div class="list-group list-group-flush ">
        <a [routerLink]="['/profile/' + this.id]" class="list-group-item list-group-item-action bg-dark text-light">Perfil</a>
        <a *ngIf="admin" [routerLink]="['/users']" class="list-group-item list-group-item-action bg-dark text-light">Usuarios</a>
        <a [routerLink]="['/categorias']" class="list-group-item list-group-item-action bg-dark text-light">Categorias</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Productos</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-light">Carro</a>
      </div>
    </div>  
    